$font-size-base: 0.8rem !default;
$font-family-sans-serif: "Poppins", Helvetica, Arial, sans-serif !default;
$link-color: #000 !default;
$text-color: #000 !default;
$link-hover-color: lighten($link-color, 50%) !default;
